.Hero {
  display: flex;
  align-items: center;
  padding: 120px 0 80px 0;
  gap: 40px;
}
.HeroText {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.HeroTextTitle {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.HeroTextTitle h1 {
  line-height: 64px;
  font-size: 56px;
}
.HeroText p {
  line-height: 36px;
  font-size: 24px;
  max-width: 530px;
  opacity: 0.78;
}
.HeroTextGradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.HeroButtons {
  display: flex;
  gap: 12px;
}
.HeroBtn {
  background: var(--bg-button);
  border-radius: 1000px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
}
.HeroBtn:hover {
  background: var(--bg-button-hover);
}
.HeroBlue {
  background: var(--bg-blue);
  transition: all ease 0.3s;
}
.HeroBlue:hover {
  background: var(--bg-blue-hover);
}
.HeroBlue span {
  color: var(--text-white) !important;
}
.HeroBtn span {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 14px;
  font-family: var(--font-int);
}
.HeroImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translate(60px, 25px);
}
.HeroImgGradient {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: var(--image-gradient);
  filter: blur(72px);
  transform: translate(-50%, -50%);
}
.HeroImg img {
  width: 450px;
  height: 450px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}

@media (max-width: 639px) {
  .Hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .HeroImg {
    transform: translate(0);
  }
  .HeroImgGradient {
    width: 150px;
    height: 150px;
  }
  .HeroImg img {
    width: 250px;
    height: 250px;
  }
  .HeroTextTitle {
    width: 100%;
    align-items: center;
  }
  .HeroTextTitle h1 {
    line-height: 35px;
    font-size: 30px;
  }
  .HeroText p {
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    max-width: 100%;
  }
}
