.hero {
  display: flex;
  align-items: center;
  padding: 120px 0 80px 0;
  gap: 40px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.hero-text-title {
  display: flex;
  flex-direction: column;
  width: 550px;
}
.hero-text-title h1 {
  line-height: 64px;
  font-size: 56px;
}
.hero-text p {
  line-height: 36px;
  font-size: 24px;
  max-width: 530px;
  opacity: 0.78;
}
.hero-text-gradient {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
.hero-buttons {
  display: flex;
  gap: 12px;
}
.hero-btn {
  background: var(--bg-button);
  border-radius: 1000px;
  height: 40px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  transition: all ease 0.3s;
}
.hero-btn:hover {
  background: var(--bg-button-hover);
}
.hero-blue {
  background: var(--bg-blue);
  transition: all ease 0.3s;
}
.hero-blue:hover {
  background: var(--bg-blue-hover);
}
.hero-blue span {
  color: var(--text-white) !important;
}
.hero-btn span {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 14px;
  font-family: var(--font-int);
}
.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translate(60px, 25px);
}
.hero-img-gradient {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: var(--image-gradient);
  filter: blur(72px);
  transform: translate(-50%, -50%);
}
.hero-img img {
  width: 450px;
  height: 450px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
