.WorkId {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.WorkIdWrapper {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 24px;
}
@media (max-width: 639px) {
  .WorkIdWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
}
