.MobileMenuIcon {
  position: relative;
  width: 16px;
  height: 14px;
  cursor: pointer;
  overflow: hidden;
}
.MobileMenuContainer {
  position: absolute;
  background: var(--bg-white);
  top: 60px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}
.MobileMenuBlock {
  padding: 40px 40px 96px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: var(--font-int);
  width: 100%;
  gap: 25px;
}
.MobileMenuLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MobileTheme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--bg-card);
  height: 48px;
  padding: 0 16px;
  border-radius: 8px;
}

.MobileThemeLabel {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.78;
}

.MobileTickTop {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--text-dark);
  transition: top 0.25s, background-color 0.5s, transform 0.25s;
}
.MobileTickTopOpen {
  top: 6px;
  transform: translate(0) rotate(225deg);
}
.MobileTickTopClosed {
  top: 0;
  left: 0;
  transform: translate(0);
}
.MobileMenuIcon:hover > .MobileTickTopClosed {
  top: 0;
  left: 0;
  transform: translate(4px);
}
.MobileTickCenter {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--text-dark);
  transition: top 0.25s, background-color 0.5s, transform 0.25s;
}
.MobileTickCenterOpen {
  top: 6px;
  transform: translate(16px);
}
.MobileTickCenterClosed {
  top: 6px;
  left: 0;
  transform: translate(8px);
}
.MobileMenuIcon:hover > .MobileTickCenterClosed {
  top: 6px;
  left: 0;
  transform: translate(0);
}
.MobileTickBottom {
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: var(--text-dark);
  transition: top 0.25s, background-color 0.5s, transform 0.25s;
}
.MobileTickBottomOpen {
  top: 6px;
  transform: translate(0) rotate(-225deg);
}
.MobileTickBottomClosed {
  top: 12px;
  left: 0;
  transform: translate(4px);
}
.MobileMenuIcon:hover > .MobileTickBottomClosed {
  top: 12px;
  left: 0;
  transform: translate(8px);
}
