header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 64px;
  z-index: 2;
  background: var(--nav-glass);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.NavContainer {
  max-width: 1224px;
  min-width: 320px;
  margin: auto;
}

.TopbarRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.TopbarDivider {
  width: 1px;
  height: 24px;
  background: var(--bg-divider);
}
.TopbarItem {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-dark);
  font-family: var(--font-int);
  transition: all ease 0.3s;
}
.TopbarItemActive {
  color: var(--bg-blue);
}
.TopbarItem:hover {
  color: var(--bg-blue);
}
.HeaderSocials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.HeaderSocialsItem {
  display: flex;
  font-size: 20px;
  color: var(--text-dark);
  opacity: 0.78;
  transition: all ease 0.3s;
}
.HeaderSocialsItem:hover {
  opacity: 1;
}
.ThemeToggle {
  display: flex;
  cursor: pointer;
}
@media (max-width: 639px) {
  .NavContainer {
    padding: 0 20px;
  }
  .TopbarItem {
    height: 50px;
    border-bottom: 1px solid var(--bg-divider);
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .HeaderSocials {
    width: 100%;
    justify-content: center;
  }
}
