.LangSwitch {
  position: relative;
}
.LangSwitcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.LangSwitcherChevron {
  display: flex;
}
.LangSwitcherContainer {
  position: absolute;
  background: var(--bg-card);
  border: 1px solid var(--bg-divider);
  padding: 12px;
  border-radius: 12px;
  top: 30px;
  right: -20px;
  display: flex;
  box-shadow: var(--drop-shadow);
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999;
  font-family: var(--font-int);
}
.LangSwitcherItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 35px;
  padding: 0 10px;
  width: 100%;
  border-radius: 6px;
  background: transparent;
  transition: all ease 0.3s;
}
.LangSwitcherItem:hover {
  background: var(--bg-grey);
}
.LangSwitcherItem div {
  display: flex;
}
.LangSwitcherItem span {
  font-size: 14px;
  font-weight: 500;
}
.LangSwitcherItemFlags {
  border-radius: 6px;
}
.LangSwitcherMobileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.MobileLang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.MobileLangIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
.MobileLangLabel {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 639px) {
  .LangSwitcherItem {
    width: 100%;
  }
}
