.WorkIdContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.WorkIdContainerDescription {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.WorkIdContainerDescription h1 {
  padding-bottom: 8px;
  border-bottom: 1px solid #30363d;
}
.WorkIdContainerDescription ul {
  margin-left: 50px;
}
.WorkIdContainerDescription ul li a {
  color: var(--bg-blue);
}
.WorkIdContainerDescription blockquote {
  color: #8d8d8f;
  padding-left: 15px;
  border-left: 4px solid #30363d;
}
.WorkIdContainerDescription blockquote p a {
  color: var(--bg-blue);
}
