.github-works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
.github-works-item-block {
  display: flex;
}
.github-works-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: var(--bg-card);
  border-radius: 12px;
  font-family: var(--font-int);
}
.github-works-item h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 600;
}
.github-works-item p {
  opacity: 0.78;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
}
.github-works-item__icon {
  background: var(--bg-grey);
  display: flex;
  width: 48px;
  height: 48px;
  font-size: 24px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  line-height: 10px;
}

@media (max-width: 639px) {
  .github-works-grid {
    display: flex;
    flex-direction: column;
  }
}
